:root{
  --primary-color:#055a05;
  --secondary-color: #FFFFFF;
  --accent1-color: #2323E4;
  --accent2-color: rgb(255, 255, 3);
  --heading-font: "Arial", serif;
  --body-font: Arial, serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--body-font);
  color: var(--accent1-color);
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flex{
  display: flex;
  list-style: none;
}
.flex li{
  flex: 1 1 auto;
}
p{
  color: black;
  font-weight: 500;
}
header,
main,
footer{
  width: 840px;
  margin: 0 auto;
}
h1,
h2{
  font-family: var(--heading-font);
  color: var(--primary-color);
}
nav, p, section, article{
  margin: 16px;
  padding: 8px;
}
.section-grid img{
  width: 200px;
}
.section-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 20%;
  margin-top: 15px;
}

.socialmedia a{
  text-decoration: none;
}
.hero{
  position: relative;
}
.hero img{
  display: block;
  width: 100%;
  height: auto;
}


.hero h1{
  position: absolute;
  top: 10%;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--secondary-color);
}
h2{
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: white;
}
.hero article{
  position: absolute;
  top: 75%;
  background-color: var(--accent2-color);
  opacity: 0.6;
}
/*star Contant form styles*/
header{
  border: 1px solid gray;
  box-shadow: 1px 1px 30px gray;
}
.white-heading, h1{
  margin-top: 10px;
}
.top-content-div{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}
/*Map style*/
.map{
  width: 300px;
  height: 310px
}

p{
  margin: 1px;
  padding: 0;
  font-weight: bold
}
.form-messsage{
  font-weight: 500;
}
.form-section{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 15px;
  margin-top: 10px;
}
label{
  color: black;
}
.form-items{
  margin: 10px;
}
.name, .email{
  margin-left: 110px;
  padding: 8px;
  font-family: arial;
}
textarea{
  display: block;
  padding: 10px;
  width: 350px;
}
.grid-list{
  display: grid;
  grid-template-columns: 150px 1fr;
}
button{
  padding: 8px 140px;
}
/*end Contant form styles*/
.adventure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.adventure figure img {
  width: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.hero article img{
  float: right;
  width: 125px;
}
footer{
  border-top: 1px solid rgb(206, 205, 205);
}
.footer-grid{
  display: grid;
  grid-template-columns: 1fr 350px;
}